<html>
    <head>
        <title>Marcos' blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Marcos' Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello World!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The mitochondria is the powerhouse of the cell.</p>
        </div>
    </body>
</html>